@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 99;
  padding: $spacing-32 0;
  &__row {
    @include flex($justify: space-between);
  }
}
