@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

.item {
  $self: &;
  position: relative;
  width: 100%;
  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  &__wrapper {
    width: 100%;
    height: 100%;
    // padding: 0 24px;
  }
  &__title {
    position: absolute;
    top: 0;
    left: 0;
    margin: 24px 0 0 24px;
  }
  &__content {
    width: 100%;
    height: 100%;
    @include flex;
  }
  &__fieldset {
    display: block;
    position: relative;
  }
  &__label {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: $spacing-8;
  }
}

.item {
  $self: &;
  // ****************** General Styles ***************** //
  // ******** Style 0 ********* //
  &__style--0 {
  }
  // ******** Style 1 ********* //
  &__style--1 {
  }
  // ******** Style 2 ********* //
  &__style--2 {
  }
  // ******** Style 3 ********* //
  &__style--3 {
  }
  // ******** Style 4 ********* //
  &__style--4 {
  }
  // ****************** Buttons ***************** //
  &__type--0 {
    // ******** Style 0 ********* //
    &#{$self}__style--0 {
    }
  }
}
