@use './variables.scss' as *;
@use './mixins.scss' as *;
@use 'sass:math';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  padding-top: calc(95.2px + 24px);
}

.section {
  width: 100%;
  position: relative;
  &__wrapper {
    width: 100%;
    margin: auto;
    max-width: $site-width-extra-large;
    padding: 0 $spacing-32;
  }
}

.header,
.footer {
  &__wrapper {
    width: 100%;
    max-width: $site-width-extra-large;
    margin: auto;
    padding: 0 $spacing-24;
  }
  &__row {
    width: 100%;
    @include flex;
  }
  &__col {
    flex: 1;
    padding: 0 $spacing-24;
  }
}

.visually-hidden,
.visually-hide-label,
.visually-hide-text {
  position: absolute;
  right: 999999999px;
  width: 0;
  height: 0;
  opacity: 0;
}

// ********************* GRID ********************** //
.grid {
  display: block;
  @include tablet-landscape-up {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // grid-template-columns: repeat(4, 1fr);
    // grid-auto-rows: calc(50vh - (95.2px));
    grid-gap: 0;
  }
}

// ********************* FLEXBOX ********************** //
.flex {
  display: block;
  @include tablet-portrait-up {
    @include flex;
  }
  &--row-reverse {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($dir: row-reverse);
    }
  }
  &--col {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($dir: column);
    }
  }
  &--col-reverse {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($dir: column-reverse);
    }
  }
  &--space-between {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($justify: space-between);
    }
  }
  &--align-top {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($align: flex-start);
    }
  }
}

// ********************* LAYOUT MODIFIERS ********************** //
.padding {
  @each $position in $positions {
    &--#{$position} {
      @each $size in $sizes {
        &-#{$size} {
          padding-#{$position}: $size;
        }
      }
    }
  }
}
.margin {
  @each $position in $positions {
    &--#{$position} {
      @each $size in $sizes {
        &-#{$size} {
          margin-#{$position}: $size;
        }
      }
    }
  }
}
