@use './variables.scss' as *;
@use './mixins.scss' as *;

.nav {
  &__list {
    @include clear-list;
  }
  &__item {
    display: inline-block;
    margin-right: $spacing-16;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__link {
    font-size: 16px;
    font-weight: 500;
  }
  &--subnav {
    @extend .nav;
  }
}
