@use './variables.scss' as *;

// Breakpoints
@mixin mobile-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin big-desktop-up {
  @media (min-width: 1400px) {
    @content;
  }
}

// Styleguide
@mixin heading-style($font-size: 48px, $font-weight: 900) {
  font-size: $font-size;
  font-family: $base-font-family;
  font-weight: $font-weight;
  line-height: 1.3;
  margin: 0 0 $spacing-32 0;
}

// Utility
@mixin link-style() {
  font-family: $base-font-family;
  letter-spacing: 0.155em;
  text-transform: uppercase;
}

@mixin image-cover() {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  img {
    display: none;
  }
}

@mixin clear-list() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin aspect-ratio($width, $height) {
  // https://css-tricks.com/aspect-ratio-boxes/
  // calc(591.44 / 1127.34 * 100%);
  height: 0;
  padding-top: $height / $width * 100%;
}

@mixin flex($justify: center, $align: center, $dir: row, $wrap: wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin display-value($var) {
  &:after {
    content: '';
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    background-color: $var;
  }
}

@mixin clear-btn() {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  width: auto;
  height: auto;
  padding: 0;
  font-size: $base-font-size;
  line-height: $base-line-height;
  background: transparent;
  border: none;
  color: $base-font-color;
  text-transform: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  opacity: 1;
}

// Button base
@mixin btn-base() {
  position: relative;
  display: inline-block;
  padding: 17px 8px 15px;
  min-width: 150px;
  text-align: center;
  font-family: $base-font-family;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  color: $black;
  background-color: $white;
  border: 0;
  border-radius: 0;
  transition: all 300ms;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
  &:hover {
    opacity: 1;
  }
}

@mixin fake-input-text {
  font-size: 14px;
  font-family: $base-font-family;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0;
  text-transform: uppercase;
}

@mixin focus {
  outline: $focus-outline;
  outline-offset: $focus-outline-offset;
}

@mixin fullscreen {
  width: 100%;
  height: 100%;
}

@mixin gradient1 {
  background: rgb(237, 237, 233);
  background: linear-gradient(
    61deg,
    rgba(237, 237, 233, 1) 0%,
    rgba(255, 255, 253, 1) 50%,
    rgba(237, 237, 233, 1) 100%
  );
}

@mixin absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
